head
	title= title
	link(rel="stylesheet", href="/css/style.css")
	script(src="js/jquery.1.7.2-min.js")
	script(src="js/backbone-min.0.9.2.js")
	script(src="js/lodash.min.js")
	script(src="js/main.js")