html
	head
	body
	.content
		.board
			.row.one
				.col.one
					#square1.square.center.mid
						.front
						.back
				.col.two
					#square2.square.center.mid
						.front
						.back
				.col.three
					#square.square.center.mid
						.front
						.back
			.row.two
				.col.one
					#square4.square.center.mid
						.front
						.back
				.col.two
					#square5.square.center.mid
						.front
						.back
				.col.three
					#square6.square.center.mid
						.front
						.back			
			.row.three
				.col.one
					#square7.square.center.mid
						.front
						.back
				.col.two
					#square8.square.center.mid
						.front
						.back
				.col.three
					#square9.square.center.mid
						.front
						.back