html
	head
	body
	.content
		.board
			.row.one
				.col.one
					#square1.square
						.front
						.back
				.col.two
					#square2.square
						.front
						.back
				.col.three
					#square.square
						.front
						.back
			.row.two
				.col.one
					#square4.square
						.front
						.back
				.col.two
					#square5.square
						.front
						.back
				.col.three
					#square6.square
						.front
						.back			
			.row.three
				.col.one
					#square7.square
						.front
						.back
				.col.two
					#square8.square
						.front
						.back
				.col.three
					#square9.square
						.front
						.back