
extends layout
include square

block content
	.content
		.board
			.row.one
				.col.one
					mixin square({id:1})
				.col.two
					mixin square({id:2})
				.col.three
					mixin square({id:3})
			.row.two
				.col.one
					mixin square({id:4})
				.col.two
					mixin square({id:5})
				.col.three
					mixin square({id:6})			
			.row.three
				.col.one
					mixin square({id:7})
				.col.two
					mixin square({id:8})
				.col.three
					mixin square({id:9})