		body, div{
			box-sizing:border-box;
		}
		.board {
			width:600px;
			height:600px;
			border:10px solid #EEE;
			margin-left:auto;
			margin-right:auto;
		}
		.row {
			display:block;
			height:200px;
			width:600px;
		}
		.col {
			position:relative;
			display:block;
			width:198px;
			height:198px;
			margin:1px;
			float:left;
			-webkit-perspective:400px;
		}
		.col:hover{
			z-index: 2;
		}

		.square {
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			border:3px solid black;
			margin:0px;
			-webkit-transform-style: preserve-3d;
  			-webkit-transition: -webkit-transform .5s;
		}

		.square div{
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			-webkit-backface-visibility: hidden;
		}
		.square .front{
			background:#DDD;
		}
		.square .front:hover{
			background:#EEE;
		}
		.square .back{
			-webkit-transform: rotateY(180deg);
			-webkit-user-select:none;
			font-size: 200px;
			font-weight: bolder;
			font-family: "Arial";
			color: white;
			text-align: center;
			line-height: 200px;
		}
		.square .back.x{
			background:#ff24b2;
		}
		.square .back.x:before{
			content:"X";
		}
		.square .back.o{
			background:#4db8ff;
		}
		.square .back.o:before{
			content:"O";
		}
		.square.clicked {
			-webkit-transform: rotateY(180deg);
		}